---
- name: Ensure WinRM basic connectivity works
  ansible.windows.win_ping:

- name: Set hostname
  ansible.windows.win_hostname:
    name: "{{ inventory_hostname }}"

- name: Stamp build version
  ansible.windows.win_copy:
    dest: C:\ccdc_build.txt
    content: "{{ lookup('pipe', 'git rev-parse --short HEAD') }}\n"

