---
- name: Ensure AD-related services are set to start automatically
  ansible.windows.win_service:
    name: "{{ item }}"
    start_mode: auto
    state: started
  loop:
    - NTDS
    - DNS
  when: dc_status.stdout | trim == "is_dc"

