---
- name: Promote to DC and create new forest (first DC)
  ansible.windows.win_domain:
    dns_domain_name: "{{ ad_domain_name }}"
    safe_mode_password: "{{ ad_dsrmpassword }}"
  when: ad_create_forest | bool

- name: Promote to additional DC (if you ever add DC02)
  ansible.windows.win_domain_controller:
    dns_domain_name: "{{ ad_domain_name }}"
    domain_admin_user: "{{ ad_domain_admin_user }}"
    domain_admin_password: "{{ ad_domain_admin_password }}"
    safe_mode_password: "{{ ad_dsrmpassword }}"
  when: not (ad_create_forest | bool)
