---
- name: Check current domain membership
  ansible.windows.win_shell: |
    (Get-WmiObject Win32_ComputerSystem).PartOfDomain
  register: domain_check
  changed_when: false

- name: Join machine to domain
  ansible.windows.win_domain_membership:
    dns_domain_name: "{{ domain_name_fqdn }}"
    domain_admin_user: "{{ domain_join_user }}"
    domain_admin_password: "{{ domain_join_password }}"
    state: domain
  when: domain_check.stdout | trim == "False"
  register: domain_join

- name: Reboot after domain join
  ansible.windows.win_reboot:
    reboot_timeout: 900
  when: domain_join.changed
